{% extends 'layout.html' %}
{% block title %}
Create account
{% endblock %}

{% block body %}
 <div class="card" style="width: 34rem;">
        <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Create Account</h5>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <p class="card-text">
            <form action="{% url 'register' %}" class="mt-4" method="POST">
                {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                {{ form.repassword }}
            <button type="submit" class="btn btn-primary form-control mb-3">Create account</button>
            <a href="/login" class="text-decoration-none text-success">Are you already a member ?</a>
            </form>
        </div>
    </div>
{% endblock %}